.input_group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 0.9rem;
    width: 100%;
}

.form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--color-blue-dark);
    outline: 0;
    font-size: 1.3rem;
    color: var(--color-dark);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-dark);
}

.form_field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--color-blue-dark);
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(
        to right,
        var(--color-blue-light),
        var(--color-blue-light)
    );
    border-image-slice: 1;
}
/* reset input */
.form_field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.form_error {
    font-size: 0.7rem;
    color: red;
}

.form_info {
    font-size: 0.7rem;
}
